.search-bar-top{
    width: 50%;
    min-width: 200px;
}

.search-bar-top input{
    width: 80%;
    outline: none;
    padding: 8px 5px;
    font-size: 16px;
    border: 2px solid #777;
    border-right: 0px;
    border-radius: 5px 0px 0px 5px;
}

.search-bar-top button{
    border-radius: 0px 5px 5px 0px;
    padding: 8px 16px;
    font-size: 16px;
    outline: none;
    border: 2px solid #777;
    background: #777;
    color: #eee;
    cursor: pointer;
}
.search-bar-top button:hover{
    background: #555;
    border: 2px solid #555;
}

.search-bar-top input:focus + button{
    background: #555;
    border: 2px solid #555;
}